# Ignore "misc" folder
misc/

# Ignore .env file with credentials
.env 

# Ignore PostgreSQL database files 
postgres/

# Ignore Penn Medicine's OneNote workbooks
LGH OneNote Scripts/
Work Notebook/

# Misc
__pycache__
tests/
debug.txt